make-color(color,border-color,background-color)
  color color !important
  background-color background-color !important
  border-color border-color !important

serif-color(color)
  color color !important unless @color
  border-color color !important
  background-color white !important

bg-color(color)
  color white !important unless @color
  background-color color !important
  border-color color !important unless @border-color

.block
  padding 10px
  border-radius 2px
  border 1px solid #eee

.white
  serif-color(white)
.white-bg
  color #333 !important
  border-color #e7e7e7 !important
  bg-color(white)
  &:hover
    background-color #f7f7f7 !important

.gray
  serif-color(#f5f5f5)
.gray-bg
  make-color(#333,#e7e7e7,#f5f5f5)

.light-purple
  serif-color(#ebcef5)
.light-purple-bg
  make-color(white,#ebcef5,#ebcef5) 

.yellow
  serif-color(#ffe900)
.yellow-bg
  make-color(white,#ffe900,#ffe900)

.black
  serif-color(black)
.black-bg
  make-color(white,black,black)

.blue
  serif-color(#3f729b)
.blue-bg
  make-color(white,#3f729b,#3f729b)

.green
  serif-color(#009990)
.green-bg
  make-color(white,#009990,#009990)

.orange
  serif-color(#ff9610)
.orange-bg
  make-color(white,#ff9610,#ff9610)

.brown
  serif-color(#c28955)
.brown-bg
  make-color(white,#c28955,#c28955)

.pink
  serif-color(#ff82a6)
.pink-bg
  make-color(white,#ff82a6,#ff82a6)

.red
  serif-color(#d9534f)
.red-bg
  make-color(white,#d9534f,#d9534f)

.light-green
  serif-color(#f1504d)
.light-green-bg
  make-color(white,#46b491,#46b491)
