.block
  padding 10px
  border-radius 2px
  border 1px solid #eee

.gray
  color #f5f5f5
.gray-bg
  color #333
  background-color #f5f5f5
  border-color #e7e7e7

.light-purple
  color #ebcef5
.light-purple-bg
  color #fff
  border-color #ebcef5
  background-color #ebcef5

.yellow
  color #ffe900
.yellow-bg
  color #fff
  border-color #ffe900
  background-color #ffe900

.black
  color #000
.black-bg
  color #fff
  border-color #000
  background-color #000

.blue
  color #3f729b
.blue-bg
  color #fff
  border-color #3f729b
  background-color #3f729b

.green
  color #009990
.green-bg
  color #fff
  border-color #009990
  background-color #009990

.orange
  color #ff9610
.orange-bg
  color #fff
  border-color #ff9610
  background-color #ff9610

.brown
  color #c28955
.brown-bg
  color #fff
  border-color #c28955
  background-color #c28955

.pink
  color #ff82a6
.pink-bg
  color #fff
  border-color #ff82a6
  background-color #ff82a6

.red
  color #f1504d
.red-bg
  color #fff
  border-color #f1504d
  background-color #f1504d

.light-green
  color #f1504d
.light-green-bg
  color #fff
  border-color #46b491
  background-color #46b491
