.oh-search
  float left
  .oh-search-input
    display inline-block
    text-height 48px
    border none
    background transparent
    color #777
    padding 0 10px
    -webkit-transition background .2s ease
    transition background .2s ease
    &:focus
      background white
.nav-inverse
  .oh-search
    .oh-search-input
      text-height 46px
