doctype html
html
  head
    meta(charset='utf-8')
    title Oh My CSS
    link(href='./site/css/highlight.css' rel='stylesheet')
    link(href='./dist/css/ohmycss.css' rel='stylesheet')
    link(href='./site/css/site.css' rel='stylesheet')
  body.site
    nav.nav
      .container
        h1.oh-brand
          a(href='/') O
        ul.oh-menu
          li
            a(href='#get-started') Get started
          li
            a(href='#basic') Basic
          li
            a(href='#components') Components
          li
            a(href='#examples') Examples
        form.oh-search
          input.oh-search-input(placeholder='Search')
        .fr
          .star
            iframe(src='https://ghbtns.com/github-btn.html?user=0x142857&repo=oh-my-css&type=star&count=true&size=large', frameborder='0', scrolling='0', width='160px', height='30px')

    section.oh-main
      .container
        .row
          .sidebar.col-sm-3
            nav.anchorific
          .main.col-sm-9
            h2.oh-h2 Pure css framework designed for the minimalist
            h3.oh-h3.doc Get started
            span.version Current version: 0.1.1 (Unstable)
            h4.oh-h4.doc Install
            :markdown
              **load Oh-My-CSS in your project**
              ```html
              <!-- Oh My CSS core stylesheet -->
              <link rel="stylesheet" href="//cdn.ohmycss.com/latest/css/ohmycss.css">

              <!-- Oh My CSS lite version (without normalize.css) -->
              <link rel="stylesheet" href="//cdn.ohmycss.com/latest/css/ohmycss.lite.css">
              ```
              or **Bower**

              ```bash
              bower install ohmycss --save
              ```
            h3.oh-h3.doc#basic Basic
            h4.oh-h4.doc Heading
            .heading-example
              h1.oh-h1 h1 Oh My CSS
              h2.oh-h2 h2 Oh My CSS
              h3.oh-h3 h3 Oh My CSS
              h4.oh-h4 h4 Oh My CSS
              h5.oh-h5 h5 Oh My CSS
            h4.oh-h4.doc List
            ul
              li Item 1
              li Item 2
              li Item 3
                ul
                  li Child 1
                  li Child 2
                  li Child 3
              li Item 4
              li Item 5
            h3.oh-h3.doc#components Components
            h4.oh-h4.doc Buttons
            button.oh-button.button-default Default
            button.oh-button.button-green Green
            button.oh-button.button-red Red
            button.oh-button.button-blue Blue
            h4.oh-h4.doc Navbar
            .navbar-example
              nav.nav
                .container
                  h1.oh-brand
                    a(href='/') O
                  ul.oh-menu
                    li
                      a(href='#start') Get started
                    li
                      a(href='#basic') Basic
                    li
                      a(href='#components') Components
                    li
                      a(href='#examples') Examples
                  form.oh-search
                    input.oh-search-input(placeholder='Search')
            h4.oh-h4.doc Dropdown
            .dropdown-example
              button.dropdown.oh-button.button-default
                | Dropdown
                .dropdown-sep
                ul.dropdown-menu
                  li
                    a(href='#') Item 1
                  li
                    a(href='#') Item 2
            h4.oh-h4.doc Block
            .block-example
              .block.gray-bg Gray
              .block.light-purple-bg Light purple
              .block.yellow-bg Yellow
              .block.black-bg Black
              .block.blue-bg Blue
              .block.green-bg Green
              .block.orange-bg Orange
              .block.brown-bg Brown
              .block.pink-bg Pink
              .block.red-bg Red
              .block.light-green-bg Light green
    nav.nav-footer
      .container
        .fl
          h2.oh-sitename
            a('href=/') Oh My CSS
          .oh-copy
            span 
            | Made with love by 
            a(href='https://0x142857.com') 0x142857
            |  , inspired by LeanCloud
    script(src='./site/js/jquery.min.js')
    script(src='./site/js/anchorific.js')
    script(src='./site/js/index.js')