.site .block {
  margin-bottom: 10px;
}
.site .star {
  height: 48px;
  line-height: 68px;
}
.site .oh-h3 {
  color: #3090e4;
  border-bottom: 1px solid #eee;
  padding: 20px 0;
  font-weight: 300;
}
.site .oh-h4 {
  color: #3090e4;
  font-weight: 300;
  padding: 24px 0 15px 0;
}
.site .heading-example .oh-h3 {
  border-bottom: none;
  color: #333;
  padding: 0;
  font-weight: 700;
}
.site .heading-example .oh-h4 {
  color: #333;
  font-weight: 700;
  padding: 0;
}
.site .sidebar {
  position: relative;
  padding-top: 20px;
  bottom: 70px;
}
.site .sidebar .anchorific {
  position: fixed;
  width: 282px;
}
.site .sidebar ul {
  font-size: 16px;
  list-style: none;
  padding-left: 0;
}
.site .sidebar ul li.active >a {
  color: #3090e4;
  border-color: #3090e4;
}
.site .sidebar ul li.active ul {
  display: block;
}
.site .sidebar ul li a {
  color: #999;
  border-right: 1px solid #eee;
  display: block;
  padding: 10px 0 10px 0;
}
.site .sidebar ul li a:hover {
  color: #333;
  border-color: #333;
}
.site .sidebar ul ul {
  padding-left: 10px;
  display: none;
}
.site .main {
  padding-top: 10px;
  padding-bottom: 30px;
}
